{% load static %}

<!DOCTYPE html>
<html lang="es">
<head>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Mi App{% endblock %}</title>

    <!-- Fuente Montserrat -->
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&display=swap" rel="stylesheet">

    <!-- CSS -->
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body>
    <!-- Navbar -->
    <nav class="navbar">
        <div class="logo">
            <a href="/">
                <img src="{% static 'img/logo.png' %}" alt="StanleyBlack&Decker">
            </a>
        </div>
        <ul class="nav-links">
            <li><a href="{% url 'productos_por_empresa' 'DeWalt' %}">DeWalt</a></li>
            <li><a href="{% url 'productos_por_empresa' 'Stanley' %}">Stanley</a></li>
            <li><a href="{% url 'productos_por_empresa' 'Irwin' %}">Irwin</a></li>
            <li><a href="{% url 'productos_por_empresa' 'Black&Decker' %}">Black&Decker</a></li>
            <li><a href="{% url 'productos_por_empresa' 'Otros' %}">Otros</a></li>
        </ul>

        <div class="icons">
            <form action="{% url 'buscar_productos' %}" method="get" style="display:inline;">
                <input type="text" name="q" placeholder="Buscar productos..." style="padding:5px; border-radius:5px; border:1px solid #ccc;">
                <button type="submit" style="background:none; border:none; cursor:pointer;">
                    <span class="material-icons">search</span>
                </button>
            </form>
            <a href="#"><span class="material-icons">person</span></a>
            <a href="{% url 'carrito_ver' %}" class="cart-link">
                <span class="material-icons">shopping_cart</span>
            </a>
        </div>

    </nav>

{% block content %}
{% endblock %}
</body>
</html>
